<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.landing.dao.orderDetailDao">

	<!-- 插入一个orderDetail -->
	<!-- 数据库中orderDetail字段是自增的，故无需插入 -->
	<insert parameterType="com.landing.entity.OrderDetail"
		id="insertDetail">
		insert into ordertail (`orderID`, `quantity`, `ISBN`)
		values
		(#{orderID},#{quantity},#{ISBN})
	</insert>

</mapper>